<!-- See the params in detail from notes -->

<html>
    <head>
        <title>
            <%= locals.title %>
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Our css should be below to override all the styles-->
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1 id="page-heading">
            <i class="fa fa-address-book"></i>
            My Contacts List
        </h1>
        <div id="contact-list-container">
            <ul type="none">
                <% for(let i of contact_list) { %>
                    <li class="contact font">
                        <div class="details">
                            <p><%= i.name %></p>
                            <p><%= i.phone %></p>
                        </div>
                        <div class="icon">

<!-- 1. string params - This is string params we use alegator mouths because it is in javascript -->
                           <!--  <a href="/delete-contact/<%= i.phone %>"id="close">
                                <i class="fa fa-window-close"></i>
                            </a> -->

<!-- 2. Query params - We can send the data similar to the form -->
                           <!--  <a href="/delete-contact/?phone=<%= i.phone %> & name=<%= i.name %>"id="close">
                                <i class="fa fa-window-close"></i>
                            </a> -->
                        </div>
                    </li>
                <% } %>
            </ul>
        </div>
        <form id="new-contact-form"action="/create-contact"method="POST">
            <input class="input"type="text"name="name"placeholder="Enter Name"required>
            <input class="input"type="number"name="phone"placeholder="Enter Phone"required>
            <button type="submit"id="button">Add</button>
        </form>
        <script type="text/javascript"src="/js/home.js"></script>
    </body>
</html>